@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]!</h1>
    <p>Let's get started!</p>
    <p>Click on a link above to check out the Chefs or their Dishes!</p>
</div>
